body{
	background-image: url(https://cdn-images-1.medium.com/max/2000/1*ZeixM2OCyy_xUEKMnSp_bQ.png);
	background-repeat: no-repeat;
	background-attachment: unset;
	background-position: center;
	background-size: 100%;
}

h1{
	text-align: center;
	font-size: 625%;
	font-family: Bookman, URW Bookman L, serif;
	color: black;
	text-shadow: 4px 4px 4px grey;
}

h2{
	text-align: center;
	font-size: 375%;
	font-family: Bookman, URW Bookman L, serif;
	color: black;
}

.texte{
	padding-top: 1.7%;
	height:60.7%;
}

.card{
	background-color: rgba(255, 255, 255, 0.8);
	width: 79%;
	height: 78.7%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
    box-shadow: 6px 6px 6px grey;
    border-radius: 10px;
}

.liens{
	height: 35.7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

.grand{
	height: 200px;
	width: 200px;
	margin-top: auto;
	margin-bottom: 50px;
	border-style: solid;
	border-radius: 10000px;
	border-width: 0px;
	box-shadow: 4px 4px 4px grey;
}

.liens img{
	border-style: solid;
	border-radius: 10000px;
	border-width: 0px;
}

.liens a{
	opacity: 1;
	outline: none;
}

@keyframes filtre{
	from{opacity: 1;}
	to{opacity: 0.5;}
}

.liens a:hover{
	animation-name: filtre;
	animation-duration: 1s;
	outline: none;
}

.moyen{
	height: 150px;
	width: 150px;
	margin-top: auto;
	margin-bottom: 40px;
	border-style: solid;
	border-radius: 10000px;
	border-width: 0px;
	box-shadow: 4px 4px 4px grey;
}

.petit{
	height: 100px;
	width: 100px;
	margin-top: auto;
	margin-bottom: 20px;
	border-style: solid;
	border-radius: 10000px;
	border-width: 0px;
	box-shadow: 4px 4px 4px grey;
}



